div {
    color: white;
    padding-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.15rem;
}
.label {
    font-size: x-large;
    text-shadow: #FFF 0px 0px 5px;
    padding-right: 1rem;
}
.dropdown {
    font-size: large;
    text-shadow: #FFF 0px 0px 5px,
                #FF2D95 0px 0px 20px;
    min-width: 100px;
}
button {
    margin-right: 1rem;
}
@media only screen and (min-width: 451px) { 
    .selectors {
        display: inline-block;
    }
}
@media only screen and (max-width: 450px) { 
    .selectors {
        display: flex;
        justify-content: center;
    }
}