<div class="gray-background">
    <div class="spacer"></div>
    <ul class="horizontal-list">
        <li>GET IN TOUCH
            <a href="#">CONTACT</a>
        </li>
        <li>ABOUT REALCINEMA
            <a href="#">WHO ARE WE?</a>
            <a href="#">JOIN US</a>
            <a href="#">SPONSORSHIP</a>
        </li>
        <li>LEGAL
            <a href="#">TRADEMARK</a>
            <a href="#">TERMS AND CONDITIONS</a>
            <a href="#">PRIVACY POLICY</a>
        </li>
        <li>SOCIAL
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">Github</a>
        </li>
    </ul>
    <div class="spacer"></div>
    <div class="text-mid">
        © RealCinema. All rights reserved.
    </div>
</div>
