<div class="row">
    <div class="col">
        <div class="label d-inline-block">
            Repertoire
        </div>
        <div class="d-inline-block">
            <button class="btn btn-outline-light">Check repertoire...</button>
        </div>
    </div>
</div>
<div class="flex">
    <app-cinema-repertoire-card cardTitle="Great movie" cardDesc="this is a long and uninteresting descrpition, whitch was provided manually"></app-cinema-repertoire-card>
    <app-cinema-repertoire-card cardTitle="Great movie" cardDesc="this is a long and uninteresting descrpition, whitch was provided manually"></app-cinema-repertoire-card>
    <app-cinema-repertoire-card cardTitle="Great movie" cardDesc="this is a long and uninteresting descrpition, whitch was provided manually"></app-cinema-repertoire-card>
    <app-cinema-repertoire-card cardTitle="Great movie" cardDesc="this is a long and uninteresting descrpition, whitch was provided manually"></app-cinema-repertoire-card>

    <app-cinema-repertoire-card  cardTitle="Great movie" cardDesc="this is a long and uninteresting descrpition, whitch was provided manually"></app-cinema-repertoire-card>
    <app-cinema-repertoire-card cardTitle="Great movie" cardDesc="this is a long and uninteresting descrpition, whitch was provided manually"></app-cinema-repertoire-card>
    <app-cinema-repertoire-card cardTitle="Great movie" cardDesc="this is a long and uninteresting descrpition, whitch was provided manually"></app-cinema-repertoire-card>
    <app-cinema-repertoire-card cardTitle="Great movie" cardDesc="this is a long and uninteresting descrpition, whitch was provided manually"></app-cinema-repertoire-card>

    <app-cinema-repertoire-card cardTitle="Great movie" cardDesc="this is a long and uninteresting descrpition, whitch was provided manually"></app-cinema-repertoire-card>
    <app-cinema-repertoire-card cardTitle="Great movie" cardDesc="this is a long and uninteresting descrpition, whitch was provided manually"></app-cinema-repertoire-card>
    <app-cinema-repertoire-card cardTitle="Great movie" cardDesc="this is a long and uninteresting descrpition, whitch was provided manually"></app-cinema-repertoire-card>
    <app-cinema-repertoire-card cardTitle="Great movie" cardDesc="this is a long and uninteresting descrpition, whitch was provided manually"></app-cinema-repertoire-card>
</div>