<div class="background">
  <app-header [displayButtons]="displayButtons"></app-header>
  <div class="central-page row">
    <div class="left-side col-6">
      <h1>
        Sign in
      </h1>
      <div>
        You can sign in using google or your private account
      </div>
      <h2>
        New here?
      </h2>
      <div>
        Don't have an account yet? Register now for free. No credit card information needed.
      </div>
    </div>
    <div class="right-side col-6">
      <div>
        <label for="login">Login: </label>
        <input id="name" type="text" [formControl]="name">
      </div>
      <div>
        <label for="password">Password: </label>
        <input id="password" type="password" [formControl]="password">
      </div>
      <div>
        <button type="button" class="btn btn-outline-light" (click)="tryLogin()">Login</button>
      </div>
      <div>
        <a href="#">forgot your password?</a>
      </div>
      <div>OR</div>
      <div id="gSignInWrapper">
        <span class="label">Sign in with:</span>
        <div id="customBtn" class="customGPlusSignIn" (click)="login()">
          <span class="icon"></span>
          <span class="buttonText">Google</span>
        </div>
      </div>
    </div>
  </div>
</div>